---
import ProjectCard from "./ProjectCard.astro";
import Tooltip from "./Tooltip.astro";

type Project = {
  id: string;
  name: string;
  fullName: string;
  description: string;
  language: string;
  url: string;
  image: string;
  owner: string;
};

type Props = {
  projects?: Project[];
};

const { projects = [] } = Astro.props;
const grid = "artists";
---

<section class="artist-grid" id="grid" data-grid={grid}>
  {projects.map((project) => <ProjectCard project={project} />)}
</section>

<Tooltip grid={grid} />

<style>
  section {
    position: relative;
    overflow: visible;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0 10rem;
    min-height: 400px;
    @media screen and (min-width: 30em) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
    }
    @media screen and (min-width: 50em) {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }
  }
</style>
